.hioice-our-team-container {
	background: rgb(220, 220, 220) none repeat scroll 0 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
.hioice-our-team-container .team-members {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
}
.team-members .team-member {
	background: rgb(255, 255, 255) none repeat scroll 0 0;
    display: inline-block;
	flex-grow: 1;
	margin: 10px 5px !important;
	padding: 0;
	vertical-align: top;
	width: calc(100% - 10px);
}
.team-member .team-member-headshot {
	overflow: hidden;
}
.team-member .team-member-headshot img {
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	height: auto;
	width: 100%;
}
.team-member .team-member-name {
	color: #e14473 !important;
	border-bottom: 1px #ddd solid;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	padding: 0 0 5px;
	text-transform: uppercase;
	text-align: left;
}
.team-member .team-member-position {
	color: #aaa !important;
	font-size: 13px;
	line-height: 18px;
	margin: 0 10px 20px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
@media only screen and (max-width: 37.5rem) {
	.hioice-our-team-container .team-member { 
		width: 100%;
	}
}
@media only screen and (min-width: 37.5rem) {
	.hioice-our-team-container .team-member { 
		max-width: calc(50% - 10px);
	}
}
@media only screen and (min-width: 56rem) {
	.hioice-our-team-container .team-member { 
		max-width: calc(33% - 10px);
	}
}
@media only screen and (min-width: 75rem) {
	.hioice-our-team-container .team-member { 
		max-width: calc(25% - 10px);
	}
}
